@model ApexDataApi.Models.Character

@{
    ViewData["Title"] = "DetailsAdmin";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playtime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="IndexAdmin">Back to List</a>
</div>
