@model IEnumerable<ApexDataApi.Models.Character>

@{
    ViewData["Title"] = "Characters";
}

<h1>Most Played Characters</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Character
                @*@Html.DisplayNameFor(model => model.CharacterName)*@
            </th>
            <th>
                Playtime
                @*@Html.DisplayNameFor(model => model.Playtime)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Playtime)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <p>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </p>
</div>